.home {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100% !important;
    padding: 10rem 0 2rem 0;
    box-shadow: 0 3px 8px rgba(black, .4);
    font-size: 1.6rem;
    text-align: center;

    background: 
        linear-gradient(to bottom,
            rgba(black, .5),
            rgba(black, .80) 30%,
            rgba(black, 1)),
        url("../images/wok.jpg");
    background-position: top center;
    background-size: cover;
}

.phone {
    padding: 4rem 0;
}

.hours {
    &__list {
        width: 60%;
        @include media-breakpoint-up(sm) {
            width: 25rem;
        }
        margin: 0 auto;
    }

    &__day {
        text-align: left;
        width: fit-content;
    }

    &__time {
        text-align: right;
    }
}

.menu-link{
    padding: 3rem 0;
}

.address {
    padding-bottom: 7rem;
}

.social {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
    align-content: center;
    justify-content: space-around;

    &-icon {
        font-size: 3rem;
    }
}


.decoration {
    position: absolute;
    z-index: 1;
    width: 500rem;
    height: 7rem;
    background-color: $red;
    border: 2px solid $red-black;
    transform-origin: bottom center;
    transform: rotateZ(-1deg);

    &--1 {
        top: -6rem;
        left: -2rem;
        box-shadow: 0 3px 8px rgba(black, .4);
    }

    &--2 {
        bottom: -2rem;
        left: -2rem;
        box-shadow: 0 -3px 8px rgba(black, .4);
    }

    &--3 {
        top: -1rem;
        left: -2rem;
        box-shadow: 0 3px 8px rgba(black, .4);
    }
}
