@import url('https://fonts.googleapis.com/css?family=Quicksand:400');

body {
    font-size: 1.6rem;
    font-family: $font-quicksand;
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1rem;
    text-transform: uppercase;
}