.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  text-align: center;
  padding: 0 2rem 15rem 2rem;

  &__title {
    margin-bottom: 4rem;
  }

  &__links {
    font-size: 2.5rem;

    & > a:not(:first-child) {
      margin-left: 2rem;
    }
  }

  &__tagline {
    position: absolute;
    bottom: 15rem;
  }
}
