.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;

  &__title {
    margin-bottom: 4rem;
    font-weight: normal;
  }

  &__links {
    font-size: 2.5rem;

    & > a:not(:first-child) {
      margin-left: 2rem;
    }
  }

  &__tagline {
    position: absolute;
    bottom: 5rem;
  }
}
