.links-list {
  width: fit-content;
  margin: 0 auto;

  & > li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    & a {
      margin: 1rem;
    }
  }
}