$color-white: #fff;
$color-gray: #555;
$color-gray--1: #999;
$color-gray--2: #555;
$color-gray--3: #222;
$color-black: #000;

$color-primary--dark: #132A13;
$color-primary--mid: #31572C;
$color-primary--light: #4F772D;
$color-secondary: #90A955;
$color-highlight: #ECF39E;

$font--1: 'Fjalla One', sans-serif;
$font--2: 'Varela Round', sans-serif;

