.header {
    position: relative;
    height: 100vh;
    text-align: center;
    padding: 20rem 2rem;
    background-image: url(img/galaxy.jpg);
    background-size: cover;

    // @include media-breakpoint-up(md) {
        // height: 100vh;
    // }

    &__heading {
        @include center;
        z-index: 1;
    }

    &__arrow {
        z-index: 1;
        font-size: 4rem;
        color: $color-white;
        display: inline-block;
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
        text-shadow: 1px 1px $color-2;
    }
    
    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color-1, .6);
    }

    .button {
        position: relative;
        z-index: 1;
    }

    .heading {
        display: block;
        margin: 2rem 0;
        position: relative;
        color: $color-1;
        text-align: center;

        &--primary {
            margin-bottom: 5rem;
            color: $color-white;

            &__main {
                display: block;
                margin-bottom: 2rem;
            }

            &__sub {
                display: block;
            }
        }
    }
}