.btn {
  display: inline-block;
  position: relative;
  padding: 1rem 2rem;
  border-radius: 3px;
  text-align: center;
  transition: all .5s;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    z-index: -1;

    transition: all .2s;
  }

  &:active:after,
  &:hover:after,
  &:focus:after {
    height: 3px;
    border-radius: 0;
  }

  &--primary {
    color: white;

    &:after {
      background-color: theme(primary);
    }

    &:active,
    &:focus,
    &:hover {
      color: theme(primary);
    }
  }
}

.link {
  color: inherit;
  transition: color .3s;

  &:active,
  &:focus,
  &:hover {
    color: theme(primary);
  }
}
