.objective {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
  background-color: theme(primary);
  text-shadow: 0 4px 8px rgba(black, .3);
  text-align: center;

  &__text {
    font-weight: normal;
    line-height: 2;
  }
}

.education {
  @include container;
  min-height: 100vh;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__school {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }

  &__image {
    position: relative;
    max-height: 20rem;
  }

  &__text {
    line-height: 2;
    
    &--right {
      text-align: right;
    }
  }
}

.experience {
  padding: 8rem 4rem;
  min-height: 100vh;
  background-color: theme(primary);

  &__title {
    text-align: center;
    font-weight: normal;
    color: white;
    font-size: 3rem;
  }

  & .position {
    @include container;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 0 4px 8px rgba(black, .4);
    padding: 4rem;
    background-color: white;
    border-radius: 3px;

    &__employer {
      margin-bottom: 1rem;
    }
  }
}

