.objective {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  color: white;
  background-color: theme(primary);
  text-shadow: 0 4px 8px rgba(black, .3);
  text-align: center;
  padding: 0 2rem;

  &__text {
    font-weight: normal;
    line-height: 2;
  }
}

.education {
  @include container;
  padding: 8rem 0;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint(medium down) {
    min-height: 0;
    justify-content: space-around;
  }

  & .university {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    &__image {
      flex: 1;

      @include breakpoint(medium down) {
        position: absolute;
        opacity: .1;
        transform: rotateZ(-5deg);
        max-width: 13rem;
        z-index: -1;
      }

      & > img {
        width: 100%;
      }
    }

    &__text {
      flex: 2;
      line-height: 2;
      padding: 0 2rem;

      @include breakpoint(medium down) {
        text-align: center;
      }

      @include breakpoint(large) {
        &:nth-child(2n) {
          text-align: right;
        }
      }
    }
  }
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  padding: 8rem 0;

  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(theme(secondary),.8), rgba(theme(primary),.8)),
    url('../images/abstract.jpg');

  @include breakpoint(medium down) {
    background-attachment: scroll;
  }

  &__title {
    text-align: center;
    font-weight: normal;
    color: white;
    font-size: 3rem;
    text-shadow: 0 0 8px rgba(black, .6);
  }

  & .position {
    @include container;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 0 4px 8px rgba(black, .4);
    padding: 4rem;
    background-color: white;
    border-radius: 3px;
    width: 90%;

    @include breakpoint(medium) {
      width: 50%;
    }

    &__employer {
      margin-bottom: 2rem;
    }

    &__tech {
      color: theme(secondary);
      list-style: none;
      display: inline-block;

      & > li {
        float: left;

        &:not(:last-child):after {
          content: ",";
          margin-right: 5px;
        }
      }
    }

    &__description {
      list-style: none;
      margin-bottom: 2rem;

      & > li:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

.technology {
  padding: 6rem 3rem;
  min-height: 50vh;

  &__blurb {
    margin-bottom: 2rem;
    line-height: 3rem;
  }

  &__content {
    text-align: center;
    hyphens: auto;

    @include breakpoint(medium) {
      max-width: 70%;
      margin: 0 auto;
    }
  }

  &__options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5rem;

    @include breakpoint(medium) {
      padding: 2rem 0;
    }

    & .option {
      display: inline-block;
      position: relative;
      text-align: center;
      flex: 1 30%;
      margin-bottom: 3rem;
      cursor: pointer;

      @include breakpoint(medium) {
        flex: 1;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1rem;
        left: 50%;
        width: 5%;
        height: 3px;
        background: theme(primary);
        transform: translateX(-50%);
        transition: width .4s;
      }

      &:hover:after {
        width: 100%;
      }

      &.active {
        color: theme(primary);

        &:after {
          width: 100%;
        }
      }

      &__icon {
        font-size: 3rem;
      }
    }
  }
}

.projects {
  padding: 8rem 0;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .project {
    margin: 5rem 2rem;
  }
}

