#links {
  padding: 8rem 0;
}

.portfolio-links {
  width: fit-content;
  margin: 0 auto;
  list-style: none;
  text-align: center;

  & > li {
    padding: 2rem 3rem;
    background-color: theme(primary);
    color: white;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}