$color-white: #fff;
$color-gray: #555;
$color-gray--1: #999;
$color-gray--2: #555;
$color-gray--3: #222;
$color-black: #000;
$color-primary--1: #B5402F;
$color-primary--2: #983628;
$color-primary--3: #772A1F;
$color-secondary--1: #C13826;
$color-secondary--2: #8E291C;
$color-secondary--3: #330F0A;
$color-highlight--1: #DE9151;
$color-highlight--2: #FF4714;

$font-antic: 'Antic', sans-serif;
$font-lobster: 'Lobster', cursive;