@import url('https://fonts.googleapis.com/css?family=Merienda|Questrial|Shadows+Into+Light');

main {
    color: white;
    font-family: $font-3;
}

.header {
    &__heading {
        text-align: center;

        &--main {
            display: block;
            font-family: $font-1;
            font-size: 4rem;
        }

        &--sub {
            display: block;
            color: $red;
            font-size: 2rem;
            letter-spacing: 2px;
            // text-transform: uppercase;
            transform: rotateZ(-2deg) translateY(-.5rem);
        }
    }
}
