@import url('https://fonts.googleapis.com/css?family=Antic|Lobster');

body {
    font-size: 1.6rem;
    font-family: $font-antic;
}

.heading-primary {
    text-align: center;

    &--main {
        display: block;
        font-size: 9rem;
        font-family: $font-lobster;
        line-height: 1;
    }

    &--sub {
        display: block;
        font-size: 3rem;
        letter-spacing: 10px;
        padding-left: 10px;
        text-transform: uppercase;
    }
}