@import url('https://fonts.googleapis.com/css?family=Quicksand:400|Montserrat');
$font-quicksand: ('Quicksand', sans-serif);
$font-montserrat: ('Montserrat', sans-serif);

$color-primary--1: #67EF92;
$color-primary--2: #53C176;
$color-primary--3: #439E60;

$color-white: #fff;
$color-gray: #555;
$color-gray--1: #999;
$color-gray--2: #555;
$color-gray--3: #222;
$color-black: #000;
